In [64]:
import pandas as pd

In [65]:
df=pd.read_csv('/content/drive/MyDrive/fashion data/Fashion Data.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6,7,10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [66]:
df.head()

,uuid,url,title,brand,images,date_stored,selling_price,star_rating,size,colour,mrp,product_detials,set_product_price,meta_data,category,product_code,competitor
0,0,https://trends.ajio.com/dnmx-knitted-crew-neck...,Knitted Crew-Neck Pullover,DNMX,https://assets.ajio.com/medias/sys_master/root...,07-06-2022,624,0.0,NaN,"green,mustard",1299,"Machine washable; Flat dry,Ribbed hems,Regular...",0.0,Buy Green Sweaters & Cardigans for Men by DNMX...,Sweaters & Cardigans,4.41E+11,Ajio-Trends
1,00000fcc-8f4d-4174-9e34-8179d398a88d,https://ajiobusiness.com/storefront/ProductDet...,Brasso Printed Regular Saree,JUSTVVV,~^https://assets.ajio.com/b2b/medias/sys_maste...,28-09-2022,576,0.0,NaN,NaN,1499,"{""Length of Saree(UOM)"":""mtr"",""Packaging Type""...",3459.16,NaN,Sarees,464883623,Ajio_b
2,00009f57-a987-4416-88b8-2fe607d6f0de,https://trends.ajio.com/hunters-bay-lace-up-ca...,Lace-Up Casual Shoes with Contrast Panels,HUNTERS BAY,https://assets.ajio.com/medias/sys_master/root...,16-07-2022,909,0.0,NaN,tan,1299,Product Code: 458005708001,0.0,Buy Brown Casual Shoes for Men by HUNTERS BAY ...,Casual Shoes,NaN,Ajio-Trends
3,0000cb86-fd3b-43e9-b0c1-355339650d8b,https://ajiobusiness.com/storefront/ProductDet...,Art Silk Printed Regular Saree,VOOLKA,~^https://assets.ajio.com/b2b/medias/sys_maste...,28-09-2022,285,0.0,NaN,NaN,560,"{""Length of Saree(UOM)"":""mtr"",""Packaging Type""...",571.42,NaN,Sarees,464902247,Ajio_b
4,00018050-b693-408b-a594-adc6e7b53946,https://www.bijnis.com/product/KAYRISE/1071022,Kangarooz 232,Kangarooz,"https://ik.imagekit.io/shoekonnect/tr:w-500,tr...",24-07-2022,130,0.0,"7/3, 8/3, 9/3, 10/3",NaN,499,"{""Category"":""Men PVC Slippers"",""Color"":""Multic...",0.0,"{""moq"":""12 Pairs"",""achievements"":[""38 Likes""],...",men_Slippers,1071022,bijnis

In [67]:
df.isnull().sum()

uuid                      0
url                       2
title                     2
brand                     0
images                   44
date_stored               1
selling_price             1
star_rating            1245
size                 116478
colour               137508
mrp                       1
product_detials        6116
set_product_price         3
meta_data            105385
category                  1
product_code           4819
competitor                1
dtype: int64

In [68]:
df.shape

(194242, 17)

In [138]:
df1=df.drop(['size','colour','meta_data','product_code','date_stored','url','mrp','selling_price','competitor','brand','set_product_price'],axis=1)

In [139]:
df1=df1.dropna()

In [140]:
df1.shape

(186837, 6)

In [141]:
df1.columns

Index(['uuid', 'title', 'images', 'star_rating', 'product_detials',
       'category'],
      dtype='object')

In [142]:
df1['title'].value_counts()

Georgette Printed Regular Saree                                                                                                                                                                             3952
Art Silk Printed Regular Saree                                                                                                                                                                              1930
Cotton Printed Unstitched Dress Material                                                                                                                                                                    1467
BUY NOW                                                                                                                                                                                                     1298
Cotton Checks Casual Shirts                                                                                                                                                                                  948
                                                                                                                                                                                                            ...
Sega Star impact edge running shoes original ( authorised distributor) Mesh Sports Wear Running Shoes (Black, 5 UK (39 EU), 6 UK (40 EU), 7 UK (41 EU), 8 UK (42 EU), 9 UK (43 EU), 10 UK (44 EU), 11 UK       1
Floral Embroidered Straight Set                                                                                                                                                                                1
Mid-Wash Shirt with Flap Pockets                                                                                                                                                                               1
FLETER 257                                                                                                                                                                                                     1
Miles 473423blk Synthetic Smart Casual Mule Sandal (Black, 4 Uk (37 Eu), 5 Uk (38 Eu), 6 Uk (39 Eu), 7 Uk (40 Eu), 8 Uk (41 Eu) Set Of 6, 473423blk                                                            1
Name: title, Length: 68030, dtype: int64

In [143]:
df1['uuid'].value_counts()

0                                       1
ab5b2f12-1b7c-41db-8ec3-37a1a5d6200a    1
ab5bad80-c402-4be3-9aaa-5f9c334ccfbb    1
ab5c09be-2060-4c98-bb4f-35d862b52db5    1
ab5c668d-964b-4d83-8d48-36e200985803    1
                                       ..
5599246a-9bde-4842-8089-8143d68751e4    1
559940e1-08dd-4865-afa5-a877bb72fd2d    1
559a3aaa-f51a-4c66-984d-26de4c2b5ea9    1
559a8a02-9c99-4fc3-90c0-2f9db1398fae    1
ffff7da2-c5e0-46dd-bfb2-ce9bb1b40dca    1
Name: uuid, Length: 186837, dtype: int64

In [144]:
num_rating_df = df1.groupby('title').count()['star_rating'].reset_index()
num_rating_df.rename(columns={'star_rating':'num_ratings'},inplace=True)
num_rating_df

                                        title  num_ratings
0                              (2941 ratings)            1
1                             (53974 ratings)            1
2      0740 48F Oversized Gradient Sunglasses            1
3                                    1 OAK 10            1
4                                    1 OAK 11            1
...                                       ...          ...
68025                             zakozee 773            2
68026                             zakozee 774            4
68027                             zakozee 775            4
68028                             zakozee 784            2
68029                             zakozee 788            5

[68030 rows x 2 columns]

In [145]:
popular_df = num_rating_df[num_rating_df['num_ratings']>=300].sort_values('num_ratings',ascending=False).head(50)

In [146]:
popular_df.head()

                                          title  num_ratings
24413           Georgette Printed Regular Saree         3952
5771             Art Silk Printed Regular Saree         1930
14387  Cotton Printed Unstitched Dress Material         1467
7260                                    BUY NOW         1298
13605               Cotton Checks Casual Shirts          948

In [147]:
rating_with_totalRatingCount = df1.merge(num_rating_df, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

,uuid,title,images,star_rating,product_detials,category,num_ratings
0,0,Knitted Crew-Neck Pullover,https://assets.ajio.com/medias/sys_master/root...,0.0,"Machine washable; Flat dry,Ribbed hems,Regular...",Sweaters & Cardigans,12
1,00000fcc-8f4d-4174-9e34-8179d398a88d,Brasso Printed Regular Saree,~^https://assets.ajio.com/b2b/medias/sys_maste...,0.0,"{""Length of Saree(UOM)"":""mtr"",""Packaging Type""...",Sarees,106
2,00009f57-a987-4416-88b8-2fe607d6f0de,Lace-Up Casual Shoes with Contrast Panels,https://assets.ajio.com/medias/sys_master/root...,0.0,Product Code: 458005708001,Casual Shoes,12
3,0000cb86-fd3b-43e9-b0c1-355339650d8b,Art Silk Printed Regular Saree,~^https://assets.ajio.com/b2b/medias/sys_maste...,0.0,"{""Length of Saree(UOM)"":""mtr"",""Packaging Type""...",Sarees,1930
4,00018050-b693-408b-a594-adc6e7b53946,Kangarooz 232,"https://ik.imagekit.io/shoekonnect/tr:w-500,tr...",0.0,"{""Category"":""Men PVC Slippers"",""Color"":""Multic...",men_Slippers,1

Collaborative Filtering Based Recommender System

In [148]:
popularity_threshold = 40
rating_popular_movie= rating_with_totalRatingCount.query('num_ratings >= @popularity_threshold')
rating_popular_movie.head()

,uuid,title,images,star_rating,product_detials,category,num_ratings
1,00000fcc-8f4d-4174-9e34-8179d398a88d,Brasso Printed Regular Saree,~^https://assets.ajio.com/b2b/medias/sys_maste...,0.0,"{""Length of Saree(UOM)"":""mtr"",""Packaging Type""...",Sarees,106
3,0000cb86-fd3b-43e9-b0c1-355339650d8b,Art Silk Printed Regular Saree,~^https://assets.ajio.com/b2b/medias/sys_maste...,0.0,"{""Length of Saree(UOM)"":""mtr"",""Packaging Type""...",Sarees,1930
6,00028d08-dac9-4e8f-ac64-be41380fb358,Art Silk Printed Regular Saree,~^https://assets.ajio.com/b2b/medias/sys_maste...,0.0,"{""Length of Saree(UOM)"":""mtr"",""Packaging Type""...",Sarees,1930
9,00034b4a-b1ab-435c-8158-914944fef2c8,Floral Print Georgette Saree,https://assets.ajio.com/medias/sys_master/root...,0.0,"Blouse piece length: 0.8 m,Saree length: 5.5 m...",Sarees,51
18,0005d976-1569-4402-b242-f69d9c3ae215,Rayon Embroidered Flared Kurta,~^https://assets.ajio.com/b2b/medias/sys_maste...,0.0,"{""Sleeve Length"":""3/4th"",""Product Name"":""Flare...",Kurtas,156

In [149]:
rating_popular_movie.shape

(55624, 7)

In [114]:
len(df1)

39046

In [155]:
## First lets create a Pivot matrix

item_features_df=rating_popular_movie.pivot_table(index='title',columns='category',values='num_ratings').fillna(0)
item_features_df.head()

category,830311006,830313003,830316016,830316018,Blouses,Bras,Casual Shoes,Dress Material,Dresses,Dresses & Frocks,...,Sweatshirt & Hoodies,Sweatshirts & Hoodies,Tops,Tops & Tshirts,Tops & Tunics,Track Pants,Tracksuits,Trousers & Pants,Tshirts,Women's Ethnic
title,,,,,,,,,,,,,,,,,,,,,
Acrylic Colour-block Pullovers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acrylic Floral Stole,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acrylic Self-design Open Muffler,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acrylic Solid Pullovers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acrylic Stripes Pullovers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [153]:
item_features_df.isnull().sum()

category
830311006                399
830313003                396
830316016                395
830316018                391
Blouses                  398
Bras                     395
Casual Shoes             398
Dress Material           383
Dresses                  393
Dresses & Frocks         398
Dresses & Gowns          396
Dresses & Jumpsuits      398
Dupattas                 398
Ethnic Bottoms           398
Footwear                 399
GSAMALL                  399
Handbags                 397
Innerwear                398
JACKETS & COATS          398
Jackets                  399
Jackets & Coats          394
Jeans                    374
Jeans & Jeggings         381
Jeans & Pants            399
Kurta Suit Sets          382
Kurta-Bottom Set         398
Kurtas                   361
Kurtas & Kurtis          397
Kurtis & Tunics          390
Leggings                 392
Lehenga Choli Sets       396
Men's Garments           397
Mufflers                 399
Nightshirts&Nighties     391
Panty                    399
Pyjamas & Shorts         396
RAINWEAR&WINDCHEATER     399
STOLES & SCARVES         399
Salwars & Churidars      398
Sarees                   308
Shirts                   373
Shirts, Tops & Tunic     398
Shorts                   395
Sports Shoes             394
Suitings & Shirtings     399
Sweaters & Cardigans     393
Sweatshirt & Hoodies     399
Sweatshirts & Hoodies    391
Tops                     374
Tops & Tshirts           397
Tops & Tunics            399
Track Pants              395
Tracksuits               398
Trousers & Pants         379
Tshirts                  378
Women's Ethnic           398
dtype: int64

In [156]:
item_features_df.shape

(400, 56)

In [157]:
from scipy.sparse import csr_matrix

item_features_df_matrix = csr_matrix(item_features_df.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(item_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [158]:
item_features_df.shape

(400, 56)

In [159]:
import numpy as np

In [160]:
query_index = np.random.choice(item_features_df.shape[1])
print(query_index)
distances, indices = model_knn.kneighbors(item_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

35

In [161]:
item_features_df.head()

category,830311006,830313003,830316016,830316018,Blouses,Bras,Casual Shoes,Dress Material,Dresses,Dresses & Frocks,...,Sweatshirt & Hoodies,Sweatshirts & Hoodies,Tops,Tops & Tshirts,Tops & Tunics,Track Pants,Tracksuits,Trousers & Pants,Tshirts,Women's Ethnic
title,,,,,,,,,,,,,,,,,,,,,
Acrylic Colour-block Pullovers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acrylic Floral Stole,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acrylic Self-design Open Muffler,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acrylic Solid Pullovers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acrylic Stripes Pullovers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [162]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(item_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, item_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Blended Solid Casual Trousers:

1: Tapered Fit Flat-Front Trousers, with distance of 0.0:
2: Mid-Rise Flat-Front Trousers, with distance of 0.0:
3: Tapered Fit Flat-Front Chinos, with distance of 0.0:
4: Cotton stretch Solid Casual Trousers, with distance of 0.0:
5: Cotton Relaxed Fit Pants, with distance of 0.0:

2nd method

In [163]:
from sklearn.metrics.pairwise import cosine_similarity

In [164]:
similarity_scores = cosine_similarity(item_features_df)

In [165]:
similarity_scores.shape

(400, 400)

In [166]:
def recommend(title):
    # index fetch
    index = np.where(item_features_df.index==title)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = df1[df1['title'] == item_features_df.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        item.extend(list(temp_df.drop_duplicates('title')['product_detials'].values))
        # item.extend(list(temp_df.drop_duplicates('title')['colour'].values))
        
        data.append(item)
    
    return data

In [169]:
recommend('Rayon Embroidered Flared Kurta')

[['Cambric Printed Regular Kurtas',
  '{"Fit":"Regular Fit","Length":"Long","Style Type":"Regular Kurtas","Sleeve":"Full-length"}'],
 ['Cotton Embellished Straight Kurta',
  '{"Sleeve Length":"3/4th","Product Name":"Straight Kurta","Neckline":"Round"}'],
 ['Cotton Embroidered A-line Kurta',
  '{"Sleeve Length":"3/4th","Product Name":"A-line Kurta","Neckline":"Round"}'],
 ['Cotton Embroidered Straight Kurta',
  '{"Sleeve Length":"3/4th","Product Name":"Straight Kurta","Neckline":"Round"}']]